---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import card1 from "../assets/card1.jpg";
---

<Layout>
  <p>Welcome</p>
  <Card
    link="/berlinstreetart"
    imgsrc={card1}
    alttext="Street art in Berlin"
    pretitle="Local CRTV"
    description="Street Art walk in Berlin that is not your typical East Side Gallery!"
  />
</Layout>
