---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import streetArt from "../assets/streetart.jpg";
import hiddenGem1 from "../assets/hiddengem1.jpg";
import berlinBus from "../assets/berlinbus.jpg";
import Underline from "../components/Underline.astro";
import Headline from "../components/Headline.astro";
---

<Layout>
  <section class="headline-section">
    <Underline
      featureheadline="FEATURED ARTICLES"
      articleheadline="UNMISSABLE THINGS TO DO IN BERLIN"
    />
  </section>
  <section class="card-grid">
    <Card
      link="/berlinstreetart"
      imgsrc={streetArt}
      alttext="Street art in Berlin"
      pretitle="Local CRTV"
      description="Street Art walk in Berlin that is not your typical East Side Gallery!"
    />
    <Card
      link="/berlinstreetart"
      imgsrc={hiddenGem1}
      alttext="Street art in Berlin"
      pretitle="Local CRTV"
      description="Want to be artsy on your travel? Here is a list of our 8 favorite creative events and workshops in Berlin!"
    />
    <Card
      link="/berlinstreetart"
      imgsrc={berlinBus}
      alttext="Street art in Berlin"
      pretitle="Local CRTV"
      description="Travel as a creative - Experiene like a local. Showing you the hidden gems of Berlin that you won’t find in the mainstream trave lguides."
    />
  </section>
</Layout>

<style>
  .card-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
  }

  .headline-section {
    justify-content: center;
    margin-top: 2rem;
    margin: auto;
    width: 1200px;
  }
</style>
