---
const { featureheadline, articleheadline } = Astro.props;
---

<div class="headline-card">
  <p>
    {featureheadline}
  </p>
  <hr />
  <h2>{articleheadline}</h2>
</div>

<style>
  .headline-card {
    background-color: #9e9e9e;
    color: #fff;
    height: 100px;
  }

  hr {
    border: none;
    height: 1px;
    background-color: #ffffff;
    width: 1150px;
  }

  p {
    padding-top: 20px;
    margin-left: 20px;
  }

  h2 {
    margin-left: 20px;
    margin-top: 5px;
  }
</style>
